.contenido-principal{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6156DB;
    color: white;
    width:380px;
    height:450px;
    gap:35px;
    text-align: center;
}
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width:400px;
    height:450px;
    margin-left:45px;
    padding:20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.redes-sociales{
    display: flex;
    gap:20px;
}
h1{
    font-size: 30px;
}
.input{
    width:300px;
}
.parrafo-signup{
    color:gray;
    font-size: 12px;
    margin-top: 30px;
}
.redes-sociales{
    margin-top:30px;
}

.btn1{
    background-color: #B856DB;
    border: 1px solid #B856DB;
    width:180px;
    font-size: 14px;
    border-radius: 20px;
    padding:10px 0;
    font-weight: 700;
}

.btn2{
    margin-top:45px;
    background-color:#B856DB;
    border: 1px solid #B856DB;
    width:180px;
    font-size: 14px;
    border-radius: 20px;
    padding:10px 0;
    font-weight: 700;
}
.btn2-formulario{
    margin-top:30px;
    background-color:#B856DB;
    border: 1px solid #B856DB;
    width:180px;
    font-size: 14px;
    border-radius: 20px;
    padding:10px 0;
    font-weight: 700;
}
.h1-formulario{
    font-size: 30px;
}

.parrafo-signup-formulario{
    color:gray;
    font-size: 12px;
    margin-top: 15px;
}
.redes-sociales-formulario{
    display:flex;
    margin-top:10px;
    gap:20px;
}